.entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.entry > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 10px 10px;
}

.entry button {
  width: 80%;
  max-width: 200px;
}

.entry__title {
  font-size: 16px;
  margin: 5px 0;
}
.entry__date {
  max-width: 150px;
}

