.can-hide {
  transition: opacity 0.5s;
}

.can-hide.hidden {
  opacity: 0 !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
  color: var(--color-primary-contrast) !important;
}

.color-primary {
  color: var(--color-primary);
  border-color: var(--color-primary) !important;
}

.shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

.small {
  width: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
