:root {
  --color-primary: rgb(25, 93, 116);
  --color-primary-contrast: rgb(255, 255, 255);
  --color-border: silver;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
}

input {
  padding: 5px 10px;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  max-width: 400px;
}

textarea {
  padding: 5px 10px;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  width: 80%;
  max-width: 400px;
  max-height: 200px;
}

button {
  padding: 5px 10px;
  border-radius: 6px;
}

label {
  padding: 5px 0;
}

ul {
  list-style: none;
}
